$white: #ffffff;
$green: #82BF31;
$dark-blue: #0079B5;
$green-yellowish: #D2DE25;
$light-green: rgb(160, 224, 117);
$blue: rgb(124, 186, 222);
$light-blue: rgb(206, 240, 245);
$very-dark-blue: rgb(16, 81, 150);
$black-font: #373737;
$grey: #d5d5d5;
